@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

body {
  font-family: 'Manrope', sans-serif;
  margin: auto;
  text-overflow: ellipsis;
  width: 100%;
}


.open {
  & .options-container {
    max-height: 240px;
    display: block;
  }
}

.open .selected img {
  transform: rotateX(180deg);
  transition: all 1000ms;
}

.selectedOption {
  background-color: #ffd15b;
  cursor: initial;
  order: -1;
  & label {
    cursor: initial;
  }
  &:hover {
    font-weight: bold;
  }
}

.option button {
  background-color: black;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  position: relative;
  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}